:root {
    --blue: #0079FF;
    --light-blue: #B2D7FF;
    --bright-blue: #E5F2FF;
    --green: #45E55F;
    --light-green: #C7F7CF;
    --bright-green: #ECFCEF;
    --red: #FF2970;
    --light-red: #FFBFD4;
    --bright-red: #FFEAF1;
    --yellow: #FFE927;
    --light-yellow: #FFF8BE;
    --bright-yellow: #FFFDE9;
    --navy: #1C172C;
    --grey: #BBB9C0;
    --light-grey: #E8E8EA;
    --dark-grey: #A4A2AB;
    --success-green: #C0FFB0;
    --success-dark-green: #29853D;
    --brand-font: Poppins, sans-serif;
    --background-grey: #F7F7F7;
    --padding-grid: 15px 100px 15px 100px;
}

body {
  margin: 0!important;
    }

    body nav {
  padding: 15px 100px;

}

.container-list-wrapper {
  display: flex;
  gap: 40px;
  padding: var(--padding-grid);
}


    .dash-wrapper {
    background-color: var(--background-grey);
    }
/* Markeringsfarge */
 ::-moz-selection {
     background-color: var(--light-blue);
     color: var(--yellow);
}
 ::selection {
     background-color: var(--light-blue);
     color: var(--navy);
}
/* Bilde Hover (No Link) */
 img {
     pointer-events: none;
}

 ul {
     padding: 5px 5px 5px 5px;
}

 .grid-item:hover {
     background-color: #CADFF8;
     outline: 3px solid var(--navy);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     transition: 0.2s;
}

 .grid-item:active {
     background-color: var(--light-blue);
}

 .grid-item {
    background-color: white;
    border: 0px solid transparent;
    outline: 3px solid transparent;
    border-radius: 10px;
    transition: 0.2s!important;
    min-height: 290px;
    overflow: hidden;
}
 .grid-item-image-wrapper-outer {
     border-radius: 10px;
}
 a {
     text-underline-offset: 6px;
     transition: 0.2s;
}
 a:hover {
     text-decoration: none!important;
}
 u {
     text-underline-offset: 6px;
     text-decoration-thickness: 3px;
}


 .dropdown-toggle {
     padding: 15px 15px 15px 25px!important;
     font-size: 16px;
}

 lottie-player {
     margin: 0 auto;
}

 * {
     font-size: 100%;
     font-family: var(--brand-font)
}

 @media (max-width: 992px) {
     .product-details-wrapper {
         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
         margin-left: 0px;
         margin-top: 10px;
         border-radius: 10px;
         background-color: #FFF;
         transition: 0.3s;
    }
}
 @media (max-width: 992px) {
     .row {
         margin: 5px;
         margin-top: 25px;
    }
}

.description-guide {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--navy)!important;
}

.title-guide {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--navy)!important;
}

.file-wrapper {
  display: flex;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 3px solid var(--transparent);
  justify-content: space-between;
  transition: background-color 0.3s;
}

.file-wrapper:hover {
  outline: 3px solid var(--navy);
  background-color: var(--bright-blue);
    transition: background-color 0.3s;
}

.icon-ani {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--navy);
    border-radius: 20px;
    background-color: var(--light-blue);
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: var(--navy);
  width: 25vw;
}

.format,
.size {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #808080;
  width: 10vw;
}

a {
  text-decoration: none;
}

.search-container {
  width: 100%!important;
}

#searchInput {
  width: 100%;
  padding: 20px 20px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #808080;
  box-sizing: border-box;
}


.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--navy);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 17.6661px 35.3322px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
  color: var(--navy);
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content a {
  display: block;
  border-radius: 10px;
  width: 200px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  color: #808080;
  padding: 20px;
  text-decoration: none;
  color: var(--navy);
}

.dropdown-content a:hover {
  color: var(--blue);
  background-color: #f5f5f6;
  width: 200px;
}
    .dropdown-content a:focus {
     background-color: #dae9fa;
     box-sizing: border-box;
     text-decoration: none;
     opacity: 1!important;
     border-color: var(--navy);
}

.search-welcome {
  display: flex;
  flex-direction: column;
}

.welcome-text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: var(--blue);
}

.welcome-name {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 81px;
  color: var(--navy);
}

.heading-name {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: var(--navy);
}

.search-welcome-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}



.cta-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--navy);
    text-decoration: none;
}

.cta-heading.info {
    display: flex;
    align-items: center;
    gap: 5px;
    min-height: 25px;
    text-decoration: none;
}


.cta-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  text-decoration: none;
}

.cta-text {
    gap: 10px;
    display: flex;
    text-decoration: none;
}

.cta-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    text-decoration: none;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
}

.cta-box.blue {
  background-color: var(--blue);
  outline: 3px solid transparent;
  text-decoration: none;
          transition: box-shadow 0.3s ease;
}

.cta-box.ad {
  background-color: var(--red);
      object-fit: contain;
    overflow: hidden;
  outline: 3px solid transparent;
      text-decoration: none;
        transition: box-shadow 0.3s ease;
}

.cta-box.ad:hover, .cta-box.blue:hover {
  outline: 3px solid var(--navy);
  text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.cta-heading.ad:hover {
  text-decoration: none;
}

.cta-heading.ad a:hover {
  text-decoration: none;
}

.cta-heading.ad {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: white;
  text-decoration: none;
}
.cta-heading.ad {
  text-decoration: none;
}

.cta-heading.ad img {
    object-fit: contain;
    overflow: hidden;
    scale: 1;
}

.container-list {
width: 100%;
}

.cta-grid-right {
}

.cta-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.cta-icon-box {
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    padding: 10px;
    border-radius: 40px;
    display: inline-grid;
}

.contact-text {
    font-size: 20px;
    font-weight: 600;
}

.contact-wrapper {
  margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.twitter-icon {
  color: var(--blue);
  transition: 0.4s;
}

.twitter-icon:hover {
color: var(--navy);
transition: 0.4s;
}


.cta-heading.ad a:hover {
  text-decoration: none;
}



/* 1024 px */

@media only screen and (max-width: 1024px) {
   
    .container-list-wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .format {
        display: none;
    }

    .size {
        display: none;
    }

    .cta-wrapper {
    flex-direction: column;
    }

    .cta-grid-right {
    width: 100%;
    }

    .fileWrappers {
    }

    .search-welcome-wrapper {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    }

    .container-list {
      width: 75vw;
    }

    .name {
    width: 45vw;
    }

    #searchInput {
    }

    .welcome-name {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 5px;
    }

    .welcome-text {
        font-size: 18px;
        line-height: 20px;
    }

    .dropdown-content {
        right: 0px;
    }

    .cta-box {
        padding: 30px;
    }
}

.caption-text {
display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px!important;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    gap: 5px;
}

.caption-text p {
font-size: 100px!important;
    text-align: center;
    font-weight: 700;
    line-height: 120px;
    width: 100%;
}
.colored {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #fffcae 50%);
}

@media (max-width: 1024px) {
.caption-text p {
    font-size: 60px!important;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    width: 80%;
}
}
.animated-text {
    background: linear-gradient(90deg, #0079FF, #FF2970, #0079FF);
    background-size: 500% 500%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: textGradientAnimation 10s ease infinite;
}

@keyframes textGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    .box {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--red);
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.5s;
      max-height: 500px;
      width: 100vw;
      margin: 10px;
      contain: paint;
          outline: 3px solid transparent;
      transition: 0.5s;
    }

    .box.yellow {
      background-color: var(--yellow);
    }

    .box.red {
      background-color: var(--red);
    }

    .box.green {
      background-color: var(--green);
    }

    .box.blue {
      background-color: var(--blue);
    }

    .box-heading {
      color: white;
      margin-bottom: 10px;
      font-size: 40px;
      padding: 20px;
    font-weight: 600;
    }

    a {
      text-decoration: none !important;
      color: none !important;
    }
    
    .box:hover {
      outline: 3px solid var(--navy);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      transition: 0.5s;
    }

    .box:active {
      background-color: #3064A0;
    }

    .box-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      contain: paint;
    }

    .box-image {
      flex-shrink: 0;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      left: 200px;
      bottom: 10px;
      transform-origin: bottom right;
      position: relative;
    }

    .box-image.assets {
      flex-shrink: 0;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      left: 300px;
      bottom: 450px;
      transform-origin: bottom right;
      position: relative;
    }

    .box:hover .box-image {
      transform: scale(1.1);
    }

        .box.grayed-out {
      filter: grayscale(100%);
      opacity: 0.4;
    }

    .box.active {
      filter: grayscale(0%);
      opacity: 1;
    }

.box:hover ~ .box:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: opacity 0.5s;
}

.box:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: opacity 0.5s;
}


    .box-text {
      color: white;
      font-size: 16px;
      margin-top: auto;
    }

    .box-row {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    @media only screen and (max-width: 1600px) {
      .box-image {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 210px;
        bottom: -19px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.1;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 324px;
        bottom: 236px;
        transform-origin: bottom right;
        position: relative;
      }
    }

    @media only screen and (max-width: 1200px) {
      .box-image {
        flex-shrink: 0;
        width: 500px;
        min-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 170px;
        bottom: -90px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.4;
      }

      .box-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        contain: initial;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 344px;
        bottom: -61px;
        transform-origin: bottom right;
        position: relative;
      }
    }

    @media only screen and (max-width: 767px) {
      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 278px;
        bottom: -42px;
        transform-origin: bottom right;
        position: relative;
      }

      .box-image {
        flex-shrink: 0;
        width: 500px;
        min-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 140px;
        bottom: -97px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.4;
      }
    }

    @media only screen and (max-width: 766px) {
      .box-row {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }

      .box {
        display: inline-flex;
        flex-direction: column;
        background-color: #FF385C;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.5s;
        max-height: 500px;
        width: 90vw;
        margin: 10px;
        contain: paint;
        outline: 3px solid transparent;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 330px;
        bottom: -190px;
        transform-origin: bottom right;
        position: relative;
        scale: 2;
      }
    }

    .logo {
      height: 50px;
    }

    nav {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
        margin-bottom: 25px;
}

.links {
  display: flex;
  gap: 50px;
}

html {
  padding: 0px!important;
}

button.btn-primary {
     background: var(--blue)!important;
     border: var(--blue)!important;
     transition: 0.2s;
     padding: 20px;
border-radius: 15px!important;
}
 button.btn-primary:hover {
     opacity: 0.7;
     transition: 0.3s;
     box-shadow: 0px 10px 30px 0px rgba(69, 143, 229, 0.4);
}

button a {
color: white!important;
font-weight: 600;
font-size: 18px;
  }
 
 a.btn-primary {
     background: var(--blue)!important;
     border: var(--blue)!important;
     transition: 0.3s;
border-radius: 15px!important;
     color:white!important;
}
 a.btn-primary:hover {
     opacity: 0.7;
     transition: 0.2s;
     box-shadow: 0px 10px 30px 0px rgba(69, 143, 229, 0.4);
     color: white!important;
}

a {
  cursor: pointer!important;
}

.header-logo {
display: flex;
    align-items: center;
    gap: 15px;
font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: var(--navy);
}

    .box {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--red);
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.5s;
      max-height: 500px;
      width: 100vw;
      margin: 10px;
      contain: paint;
          outline: 2px solid transparent;
      transition: 0.5s;
    }

    .box.yellow {
      background-color: var(--yellow);
    }

    .box.red {
      background-color: var(--red);
    }

    .box.green {
      background-color: var(--green);
    }

    .box.blue {
      background-color: var(--blue);
    }

    .box-heading {
      color: white;
      margin-bottom: 10px;
      font-size: 40px;
      padding: 20px;
    font-weight: 600;
    }

    a {
      text-decoration: none !important;
      color: none !important;
    }
    
    .box:hover {
      outline: 2px solid var(--navy);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      transition: 0.5s;
    }

    .box:active {
      background-color: #3064A0;
    }

    .box-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      contain: paint;
    }

    .box-image {
      flex-shrink: 0;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      left: 200px;
      bottom: 10px;
      transform-origin: bottom right;
      position: relative;
    }

    .box-image.assets {
      flex-shrink: 0;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      left: 300px;
      bottom: 450px;
      transform-origin: bottom right;
      position: relative;
    }

    .box:hover .box-image {
      transform: scale(1.1);
    }

        .box.grayed-out {
      filter: grayscale(100%);
      opacity: 0.4;
    }

    .box.active {
      filter: grayscale(0%);
      opacity: 1;
    }

.box:hover ~ .box:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: opacity 0.5s;
}

.box:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: opacity 0.5s;
}


    .box-text {
      color: white;
      font-size: 16px;
      margin-top: auto;
    }

    .box-row {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    @media only screen and (max-width: 1600px) {
      .box-image {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 210px;
        bottom: -19px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.1;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 324px;
        bottom: 236px;
        transform-origin: bottom right;
        position: relative;
      }
    }

    @media only screen and (max-width: 1200px) {
      .box-image {
        flex-shrink: 0;
        width: 500px;
        min-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 170px;
        bottom: -90px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.4;
      }

      .box-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        contain: initial;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 344px;
        bottom: -61px;
        transform-origin: bottom right;
        position: relative;
      }
    }

    @media only screen and (max-width: 767px) {
      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 278px;
        bottom: -42px;
        transform-origin: bottom right;
        position: relative;
      }

      .box-image {
        flex-shrink: 0;
        width: 500px;
        min-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 140px;
        bottom: -97px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.4;
      }
    }

    @media only screen and (max-width: 766px) {
      .box-row {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }

      .box {
        display: inline-flex;
        flex-direction: column;
        background-color: #FF385C;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.5s;
        max-height: 500px;
        width: 90vw;
        margin: 10px;
        contain: paint;
        outline: 2px solid transparent;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 330px;
        bottom: -190px;
        transform-origin: bottom right;
        position: relative;
        scale: 2;
      }
    }

        .pulsating-circle {
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      margin-left: 20px;
    }

.heading-order {
display: flex;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--navy);
    align-items: center;
    justify-content: center;
}
    
    .pulsating-circle:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: lightgreen;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
    
    .pulsating-circle:after {
      content: '';
      position: absolute;
      left: 0; 
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--green);
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }

    .step-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
    
    .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
    
    .step-circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #888;
      margin-bottom: 10px;
      position: relative;
    }
    
    .step-circle.active {
      background-color: #00ff00;
      animation: pulse-animation 1.5s infinite ease-in-out;
    }
    
    .step-text {
      font-size: 18px;
      font-weight: bold;
    }
    
    .step-description {
      font-size: 14px;
      color: #888;
      text-align: center;
      width: 75%;
    }
    
    @keyframes pulse-ring {
      0% {
        transform: scale(.33);
      }
      80%, 100% {
        opacity: 0;
      }
    }
    
    @keyframes pulse-dot {
      0% {
        transform: scale(.8);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(.8);
      }
    }
    
    @media (max-width: 768px) {
      .step-circle {
        width: 40px;
        height: 40px;
      }
      
      .step-text {
        font-size: 14px;
      }
      
      .step-description {
        font-size: 12px;
      }
    }

    .description-guide {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--navy)!important;
}

.title-guide {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--navy)!important;
}

    .title-guide {
    font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--navy);
    }

    .description-guide {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--navy);
    }

.step-guide {
  font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
text-transform: uppercase;
color: var(--blue);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #C4E6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: space-around;
    min-height: 200px;
    max-height: 280px;
    width: 400px;
}

.all-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

.image-wrapper img {
width: 400px;
  }

@media only screen and (max-width: 1024px) {
.image-wrapper {
  width: 50%;
}

.title-guide {
  font-size: 16px;
  line-height: 20px;
}

.description-guide {
  font-size: 12px;
  line-height: 18px;
    }

.step-guide {
font-size: 16px;
line-height: 20px;
}
      }

.front-page-wrapper {
padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}