:root {
    --blue: #0079FF;
    --light-blue: #B2D7FF;
    --bright-blue: #E5F2FF;
    --green: #45E55F;
    --light-green: #C7F7CF;
    --bright-green: #ECFCEF;
    --red: #FF2970;
    --light-red: #FFBFD4;
    --bright-red: #FFEAF1;
    --yellow: #FFE927;
    --light-yellow: #FFF8BE;
    --bright-yellow: #FFFDE9;
    --navy: #1C172C;
    --grey: #BBB9C0;
    --light-grey: #E8E8EA;
    --dark-grey: #A4A2AB;
    --success-green: #C0FFB0;
    --success-dark-green: #29853D;
    --brand-font: Poppins, sans-serif;
}

/* Body Størrelse */
 body#page-collection .page-container, .section-wrapper, .section-wrapper .section-contents-wrapper, #header[data-section-setting-header-width="inset"] .header-inner, .section-wrapper[data-section-key="video-simple"][data-section-setting-section-width="fullWidth"] .heading-text-main-wrapper {
     max-width: 90%;
}
 @media (max-width: 992px) {
     body#page-collection .page-container, .section-wrapper, .section-wrapper .section-contents-wrapper, #header[data-section-setting-header-width="inset"] .header-inner, .section-wrapper[data-section-key="video-simple"][data-section-setting-section-width="fullWidth"] .heading-text-main-wrapper {
         max-width: 100%;
    }
}
/* Markeringsfarge */
 ::-moz-selection {
     background-color: var(--light-blue);
     color: var(--yellow);
}
 ::selection {
     background-color: var(--light-blue);
     color: var(--navy);
}
/* Bilde Hover (No Link) */
 img {
     pointer-events: none;
}
 .grid-block[data-grid-block-type=simple] .grid-list .grid-item .grid-item-contents .grid-item-image-wrapper-outer {
     display: none;
}
 ul {
     padding: 5px 5px 5px 5px;
}
 .blog-post-wrapper li {
     font-weight: 400!important;
}
 .grid-item:hover {
     background-color: #CADFF8;
     outline: 2px solid var(--navy);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     transition: 0.2s;
}

 .grid-item:active {
     background-color: var(--light-blue);
}

 .grid-item {
    background-color: white;
    border: 0px solid transparent;
    outline: 2px solid transparent;
    border-radius: 10px;
    transition: 0.2s!important;
    min-height: 290px;
    overflow: hidden;
}
 .grid-item-image-wrapper-outer {
     border-radius: 10px;
}
 a {
     text-underline-offset: 6px;
     transition: 0.2s;
}
 a:hover {
     text-decoration: none!important;
}
 u {
     text-underline-offset: 6px;
     text-decoration-thickness: 3px;
}
 .section-wrapper[data-section-setting-color-scheme-id="highlightPrimary"][data-section-key="footer"] .link-underline, .section-wrapper[data-section-setting-color-scheme-id="highlightPrimary"][data-section-key="footer"] .richtext a, .section-wrapper[data-section-setting-color-scheme-id="highlightPrimary"][data-section-key="footer"] .richtext-quill a, .section-wrapper[data-section-setting-color-scheme-id="highlightPrimary"][data-section-key="footer"] .footer-nav a {
             background-image: linear-gradient(to right,transparent 100%,transparent 0)!important;
}
 .grid-item-meta-wrapper-inner {
     padding: 5px;
     padding-left: 15px;
     opacity: 1;
}
 .font-section-collection-productPrice {
     font-style: normal;
     font-weight: 400!important;
     opacity: 0.6;
     letter-spacing: -0.5px;
     font-size: 1.1em!important;
     line-height: 2;
     padding-bottom: 5px;
}
 .font-section-collection-productName {
     font-size: 18px!important;
     font-weight: 600!important;
     line-height: 1.2;
}

.section-wrapper[data-section-key=product] .media-wrapper-outer .single-product-image-wrapper img.single-product-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    height: 100%;
border-radius: 20px;
display: none!important;
}

.slideshow-block .slideshow-wrapper .slideshow .slideshow-item .image-wrapper img.section-image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
display: none!important;
}

 .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"] h4 {
     color: none;
}

 .product-details-wrapper {
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-left: 20px;
     border-radius: 10px;
     background-color: white;
     transition: 0.3s;
display: none!important;
}
 .dropdown-toggle {
     padding: 15px 15px 15px 25px!important;
     font-size: 16px;
}
 .badge-out-of-stock {
     font-family: var(--brand-font)
    font-weight: 700;
    font-style: normal;
    text-transform: normal;
    font-size: 0.8rem;
    line-height: 1.0em;
    background-color: var(--light-grey);
    color: var(--dark-grey)!important;
    padding: 8px;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.badge-out-of-stock:after {
filter: grayscale(1);
}

 .font-section-collection-onSaleBadge {
    font-family: var(--brand-font)
    font-weight: 700;
    font-style: normal;
    text-transform: normal;
    font-size: 0.8rem;
    line-height: 1.0em;
    background-color: var(--red);
    color: var(--white)!important;
    padding: 8px;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.font-section-collection-onSaleBadge:after {
content: '🏷️';
}
 .section-wrapper[data-section-key=ticker] .ticker-svg {
     display: block;
     width: 100%;
     font-size: inherit;
     background: black;
     color: white;
}
 .pretty-select-wrapper .dropdown-item.active, .dropdown-item:active {
     background-color: var(--yellow);
}
 .bootstrap-select .dropdown-menu li a span.text {
     color: var(--navy)!important;
}
 .pretty-select-wrapper .bootstrap-select>.dropdown-menu {
     border-radius: 20px;
}
 .header-title-logo:hover {
     opacity: 0.3;
     transition: 0.3s;
}
 .header-title-logo {
     transition: 0.3s;
     padding-left: 0px;
}
 .footer-logo {
     transition: 0.3s;
}
 .footer-logo:hover {
     opacity: 0.3;
     transition: 0.3s;
}
 #header[data-section-setting-color-scheme-id="darkPrimary"] .header-cart-item-count:hover {
     background-color: #FF9CAE;
     color: #FFFFFF;
}
 #header .announcement-bar:hover {
     color: #FFFFFF;
     background-color: #494556;
     transition: 0.3s;
}
 #header .announcement-bar {
     transition: 0.3s;
}
 .product-list-block .grid-block .grid-list .grid-item .grid-item-image-wrapper-outer .grid-item-image-wrapper-inner img.section-image, .product-list-block .grid-block .grid-list .grid-item .grid-item-image-wrapper-outer .grid-item-image-wrapper-inner .media-not-provided-thumbnail-wrapper, .product-list-block .grid-block[data-grid-block-meta-type=hover] .grid-list .grid-item .grid-item-meta-wrapper-outer, .product-list-block .grid-block[data-grid-block-meta-type=hover] .grid-list .grid-item:hover .hover-background {
     border-radius: 0;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
 lottie-player {
     margin: 0 auto;
}
 .paragraph-factbox {
     background-color: #dae9fa;
     padding: 32px;
     border-radius: 5px;
     border: 1px solid #b5d2f5;
}
 .title-fact {
     display: inline;
     padding-left: 5px;
     align: center;
}
 .info-fact {
     padding-top: 10px;
}
 .fa-solid {
     float: 50%;
}
 .heading-custom {
     font-size: 40px;
     font-weight: 700;
     text-align: center;
     color: var(--navy) 
}
 .ingress-custom {
     font-size: 20px;
     font-weight: 400;
     text-align: center;
     color: var(--navy);
     opacity: 0.6;
}
 .section-wrapper[data-section-key=collection] .collection-vertical-wrapper ul {
     padding: 20px;
     border-radius: 0px 0px 20px 20px;
     background-color: white;
     transition: 0.2s;
     width: 100%;
     box-sizing: border-box;
     margin: 0px!important;
     max-height: 1520px; 
     overflow-y: scroll;
outline: 2px solid transparent;
}
 .section-wrapper[data-section-key=collection] .collection-vertical-wrapper:before {
     content: 'Collections';
     font-size: 24px;
     font-weight: 700;
     line-height: 2;
     padding-left: 30px;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: white;
     display: block;
     border-radius: 20px 20px 0px 0px;
     border-bottom: solid 3px;
     border-color: #F5F5F5;
}
 .collection-vertical-wrapper li a {
     display: block;
     padding: 10px;
     background-color: white;
     border-radius: 10px;
     font-family: var(--brand-font)
     font-size: 14px;
     line-height: 1.5;
     transition: 0.2s;
     box-sizing: border-box;
outline: 2px solid transparent;

}
 .collection-vertical-wrapper li a:hover {
     background-color: var(--light-grey);
     box-sizing: border-box;
     text-decoration: none!important;
     opacity: 1!important;
}

 .collection-vertical-wrapper li a:focus {
     background-color: #dae9fa;
     box-sizing: border-box;
     text-decoration: none!important;
     opacity: 1!important;
outline: 2px solid #d2dafc;
}
/* HOVED KATEGORI */
 .collection-vertical-wrapper li:nth-child(-n+5), .collection-vertical-wrapper li:nth-child(17), .collection-vertical-wrapper li:nth-child(27), .collection-vertical-wrapper li:nth-child(n+27):nth-child(-n+36) {
     font-weight: 700;
     font-size: 14px;
     margin: 0px!important;
     background-color: white;
}
/* UNDER KATEGORI */
 .collection-vertical-wrapper li:nth-child(n+6):nth-child(-n+16), .collection-vertical-wrapper li:nth-child(n+18):nth-child(-n+26), .collection-vertical-wrapper li:nth-child(n+37):nth-child(-n+62) {
     padding-left: 15px;
     font-size: 14px;
     margin: 0px!important;
}
/* UNDER KATEGORI - NIVÅ 3 */
 .collection-vertical-wrapper li:nth-child(49), .collection-vertical-wrapper li:nth-child(50), .collection-vertical-wrapper li:nth-child(53), .collection-vertical-wrapper li:nth-child(54), .collection-vertical-wrapper li:nth-child(56), .collection-vertical-wrapper li:nth-child(54), .collection-vertical-wrapper li:nth-child(57) {
     padding-left: 30px!important;
     font-size: 14px;
     margin: 0px!important;
}
/* ACTIVE LINK */
 .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"][data-section-key="collection"] .collection-vertical-wrapper ul li a.active {
     color: var(--blue);
}
 #header:not(.live-search-layout-minimal) .live-search-block.live-search-alignment-right .live-search-form {
     right: 0;
     border-radius: 0px;
     padding: 20px;
}
 .search {
     width: 100%;
}
 #header.header-layout-branding-center-nav-center .header-display-desktop .header-actions {
     position: absolute;
     top: 20px;
     right: 60px;
     width: 160px;
}
 * {
     font-size: 100%;
     font-family: var(--brand-font)
}
 .font-section-product-name {
     font-weight: 600!important;
     color: var(--navy)!important;
     margin-bottom: 20px!important;
     margin-top: 0px!important;
}
 .product-price {
     font-weight: 500!important;
     color: #A4A2AB;
     letter-spacing: -0.5px;
}
 .stat-box {
     float: left;
     width: 33.33%;
     text-align-last: center;
}
 .rowstat {
     flex-direction: column;
     align-items: center;
     padding: 20px;
     margin: 5px;
     background-color: white;
     justify-content: center;
     background-color: white;
     border-radius: 2.5px;
     border: 2px solid #DCDCDC;
     transition: 0.5s;
}
 .rowstat:hover {
     transition: 0.5s;
     text-decoration: none!important;
     border: 2px solid var(--navy);
}
 .rowstat:after {
     content: "";
     display: table;
     clear: both;
}
 .number {
     font-size: 40px;
     font-weight: 700;
     text-decoration: none!important;
}
 .textstat {
     font-size: 16px;
     font-weight: 400;
     text-decoration: none!important;
     opacity: 0.6;
}
 @media (max-width: 992px) {
     .number {
         font-size: 20px;
         font-weight: 700;
         text-decoration: none!important;
    }
}
 @media (max-width: 992px) {
     .textstat {
         font-size: 10px;
         font-weight: 400;
         text-decoration: none!important;
    }
}
 .icon-program {
     display: flex;
     height: 94px;
     max-width: 980px;
     background-color: #fff;
     padding: 25px;
     border-radius: 10px;
     box-shadow: 0px 14px 30px rgba(17, 12, 46, 0.05);
     justify-content: space-between;
}

 .icon-text {
     align-self: center;
     font-weight: 700;
     padding-right: 20px;
}
 .heading-custom-front {
     font-size: 28px;
     line-height: 80px;
     text-align: -webkit-center;
     font-weight: 700;
}
 .live-search-input {
     padding: 20px;
     width: 100%;
     border-radius: 10px;
     border-color: #DCDCDC;
     border-style: solid;
     transition: 0.3s;
     float: left;
}
 .live-search-input:focus {
     padding: 20px;
     border-color: var(--navy);
     transition: 0.3s;
     color: var(--navy);
     background-color: #DCDCDC!important;
}
 .live-search-input:hover {
     padding: 20px;
     border-color: var(--navy);
     transition: 0.3s;
     background-color: white;
     color: var(--navy);
}
 .section-wrapper[data-section-setting-section-height=small] .section-contents-wrapper {
     padding-top: 1vmax;
}
 .live-search-form-button-search{
     height: 48px;
     width: 48px;
     background: var(--navy);
     border-radius: 100%;
     color: white;
     margin-left: 10px;
     transition: 0.3s;
}
 .live-search-form-button-search:hover{
     opacity: 0.6;
     transition: 0.3s;
}
 .svg {
     vertical-align: middle;
}
 @media (max-width: 992px) {
     .live-search-input {
         padding: 10px;
         width: 100%;
         border-radius: 0px;
         border-color: #DCDCDC;
         border-style: solid;
         transition: 0.3s;
         float: left;
    }
}
 .section-wrapper[data-section-setting-section-height=small]:not([data-section-key=gallery]) {
     min-height: 0vh;
}
 .heading-front {
     font-size: 32px;
     font-weight: 700;
     text-align: center;
     color: var(--navy);
     padding-bottom: 25px;
}
 .ingress-front {
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     line-height: 1.6;
     padding-bottom: 40px;
     color: #777480;
     margin-left: 75px;
     margin-right: 75px;
}
 @media (max-width: 992px) {
     .ingress-front {
         margin-left: 25px;
         margin-right: 25px;
    }
}
 .subtitle-front {
     text-align: center;
     text-transform: uppercase;
     font-weight: 700;
     color: var(--navy);
     background-color: #FFF27D;
     display: inline;
     margin: 0;
     padding: 10px 15px 10px 15px;
     border-radius: 50px;
}
 .subtitle-padding {
     margin: 0;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 20px;
}
 .fa-shopping-cart {
     font-weight: 900;
     font-size: 24px;
     padding: 10px;
     padding-top: 18px;
     text-align-last: center;
     resize: vertical;
     color: #ffffff;
     width: 60px;
     height: 60px;
     background: var(--green);
     border-radius: 100%;
     margin: 10px;
}
 .fa-video {
     font-weight: 900;
     font-size: 24px;
     padding: 10px;
     padding-top: 18px;
     text-align-last: center;
     resize: vertical;
     color: #ffffff;
     width: 60px;
     height: 60px;
     background: var(--blue);
     border-radius: 100%;
     margin: 10px;
}
 .fa-clock {
     font-weight: 900;
     font-size: 24px;
     padding: 10px;
     padding-top: 18px;
     text-align-last: center;
     resize: vertical;
     color: #ffffff;
     width: 60px;
     height: 60px;
     background: var(--red);
     border-radius: 100%;
     margin: 10px;
}
 @media (max-width: 992px) {
     .fa-clock, .fa-video, .fa-shopping-cart {
         font-size: 18px;
         padding: 10px;
         padding-top: 11px;
         text-align-last: center;
         resize: vertical;
         width: 40px;
         height: 40px;
    }
}
 @media (max-width: 992px) {
     .icon-program {
         height: 50px;
         width: auto;
         background: transparent;
         padding: 10px;
         display: flex;
         justify-content: space-around;
         align-content: stretch;
         flex-wrap: nowrap;
         flex-direction: row;
    }
}
 @media (max-width: 992px) {
     .icon-text {
         display:none;
    }
}
 .blog-post-item {
     background: white;
     border-radius: 10px;
     transition: 0.3s!important;
     outline: 2px solid transparent;
     opacity: 0;
border-radius: 10px;
}
 .blog-post-name {
     font-weight: 600!important;
     line-height: 1.4;
    width: 100%;
     padding-left: 5px;
     padding-right: 10px;
     padding-top: 20px;
padding-bottom: 10px;
min-height: 100px;
}
 .blog-post-item:hover {
          background-color: #CADFF8;
     outline: 2px solid var(--navy);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     transition: 0.2s;
}
 .blog-post-image-wrapper-outer {
     border-radius: 10px 10px 0px 0px;
}
 .blog-post-meta {
     display: none;
}
 .blog-post-excerpt {
     padding-left: 15px;
     margin-right: 20px;
}
 .product-meta-wrapper {
     font-style: normal!important;
     padding: 20px;
     border: 3px dotted #DCDCDC;
     border-radius: 50px;
     display: inline-block;
     background: #f3f3f3;
     margin-top: 20px;
     margin-bottom: 20px;
}
 .section-wrapper[data-section-key=product] .product-meta-wrapper .product-meta-message {
     font-style: normal;
}
 .icon-padding {
     text-align: -webkit-center;
     padding-bottom: 20px;
     margin-left: 100px;
     margin-right: 100px;
     padding-top: 25px;
}
 .heading-custom-front {
     display: block;
     vertical-align: revert;
     color: var(--navy);
     display: inline-flex;
     align-content: space-between;
     justify-content: space-around;
     align-items: center;
}
 h1 {
     font-weight: 700!important;
     margin-bottom: 40px!important;
     margin-top: 20px!important;
     font-family: var(--brand-font)
     color: var(--navy)!important;
     font-size: 2.4rem;
     line-height: 40px!important;
}
/* Style the buttons that are used to open and close the accordion panel */
 .accordion {
     background-color: #ffffff;
     color: var(--navy);
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: left;
     font-weight: 800;
     font-size: 18px;
     transition: 0.4s;
     border: 0px;
     padding-left: 30px;
     margin-bottom: 10px;
     margin-top: 10px;
     box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
     padding: 30px;
     transition: max-height 0.3s ease-out;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
     background-color: #FFF27D;
     outline: none;
     transition: max-height 0.3s ease-out;
     color: var(--navy)!important;
}
 .panel {
     padding: 30px;
     font-size: 14px;
     background-color: white;
     display: none;
     overflow: hidden;
     transition: max-height 0.3s ease-out;
     transition: max-height 0.3s ease-in;
     margin-top: -10px;
}
 .accordion:after {
     content: '\02795';
     font-size: 13px;
     color: var(--navy)!important;
     float: right;
     margin-left: 5px;
}
 .accordion:active:after, .accordion:focus:after {
     content: "\2796";
    /* Unicode character for "minus" sign (-) */
     color: var(--navy)!important;
}
 button:focus {
     outline: 0;
     outline: 0;
     color: var(--navy);
}
 .separator-social, .social-media-buttons-wrapper {
     display: none;
}
 .product-description {
     padding-top: 20px;
}
 .image-and-text {
     column-count: 2;
}
 .image-text-custom {
     font-size: 42px;
     font-weight: 700;
     padding-top: 40px;
}
 .section-wrapper[data-section-key=product][data-section-setting-number-of-columns="2"] .product-details-wrapper {
     padding: 50px;
}
 .image-custom {
     margin-left: -80px;
}
 .columns-block .columns-wrapper:not(.narrow-width) .image-column {
     width: calc(60% - 10%);
}
 @media (max-width: 992px) {
     .section-wrapper[data-section-key=product][data-section-setting-number-of-columns="2"] .product-details-wrapper {
         padding-left: 14px;
         padding-right: 14px;
         padding-top: 14px;
    }
}
 .payhip-buy-button {
     display: none;
}
 .header-nav-item {
     background-image: none!important;
     opacity: 0.6;
     transition: 0.3s;
     font-weight: 400;
     font-size: 15px;
     padding-bottom: 5px;
             background-image: linear-gradient(to right,transparent 100%,transparent 0)!important;
}
 .header-nav-item:hover {
     text-decoration: underline;
     text-underline-offset: 6px;
     opacity: 1;
     transition: 0.3s;
}
 .header-nav-item:active {
     text-decoration: underline!important;
     text-underline-offset: 3px!important;
     opacity: 1!important;
     transition: 0.3s!important;
}
 .header, nav.header-nav-list:active {
     background-image: none!important;
     text-decoration: none;
}
 .header-actions-inner {
     padding-right: 0px;
}
 .header-nav-item:active {
             background-image: linear-gradient(to right,transparent 100%,transparent 0)!important;
     opacity: 1;
}
 #header[data-section-setting-color-scheme-id="lightPrimary"] nav.header-nav-list .header-nav-item-level0 > a.active {
             background-image: linear-gradient(to right,transparent 100%,transparent 0)!important;
}
 .header-outer {
     box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
}
 .text-hero {
     font-size: 54px;
     line-height: 60px;
     font-weight: 700;
     text-align: -webkit-center;
     color: var(--navy);
}


 .text-sub {
    color: #747474;
    text-align: -webkit-center;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1420px) {
 .text-sub {
    margin-left: 0px;
    margin-right: 0px
  }
}


 #header[data-section-setting-color-scheme-id="lightPrimary"] .header-cart-item-count {
     background-color: #FFF27D;
     color: var(--navy);
     border: solid 1px;
     border-color: #FFF;
     font-weight: 600;
}
 .header-actions-action-cart:hover {
     opacity: 0.4;
     transition: 0.3s;
}
 .header-actions-action-cart, header-actions-action-search, header-actions-action-login {
     transition: 0.3s;
}
 .header-actions-action-login:hover {
     opacity: 0.4;
     transition: 0.3s;
}
 .header-actions-action-search:hover {
     opacity: 0.4;
     transition: 0.3s;
}
 @media (max-width: 992px) {
     .text-hero {
         font-size: 32px;
         line-height: 1.2;
         font-weight: 700;
         text-align: -webkit-center;
         color: var(--navy);
         padding-bottom: 5px;
    }
}
 @media (max-width: 992px) {
     .icon-padding {
         display: none;
    }
}
 @media (max-width: 992px) {
     .header-title-logo {
         transition: 0.3s;
         padding-left: 0px;
    }
}
 @media (max-width: 992px) {
     .subtitle-front {
         font-size: 12px;
         padding: 10px;
    }
}
 .footer-bottom {
     display: none;
}
 .section-wrapper[data-section-setting-section-height=small]:not([data-section-key=gallery]) {
     min-height: 25vh;
}
 .pagination-wrapper ul li a {
     border-radius: 10px;
}
 .pagination-wrapper ul li a:hover {
     color: white!important;
     background-color: var(--blue)!important;
}
 .dropdown-item-level1 {
     font-size: 16px;
     padding: 10px;
     background: white;
     transition: 0.2s;
     color: var(--navy)!important;
     border-radius: 10px;
}
 .dropdown-item-level2 {
     font-size: 13px;
     background: white;
     transition: 0.2s;
     padding-left: 10px;
     color: var(--navy)!important;
     border-radius: 10px;
}
 .dropdown-item-level1:hover {
     background: var(--grey);
     color: var(--blue)!important;
}
 .dropdown-item-level2:hover {
     background: var(--grey);
     color: var(--blue)!important;
}
 #header .header-nav-item.dropdown[data-dropdown-type="simple"] .header-dropdown-wrapper {
}
 #header .header-nav-item.dropdown[data-dropdown-type="mega"] .header-dropdown-wrapper .dropdown-columns-wrapper {
     position: relative;
     z-index: 1;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     padding-top: 0px;
     padding-bottom: 20px;
     margin-left: -78px;
     overflow-x: hidden;
     color: var(--navy)!important;
}
 #header .header-nav-item.dropdown[data-dropdown-type="mega"] .header-dropdown-wrapper {
     padding-top: 10px;
     padding-bottom: 10px;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
     border-radius: 5px;
     margin-top: -23px;
}
 #header .header-nav-item.dropdown[data-dropdown-type="mega"] .header-dropdown-wrapper .dropdown-columns-wrapper .dropdown-column {
     flex-grow: 1;
     flex-shrink: 0;
     justify-content: space-between;
     min-width: 150px;
     padding-right: 2px;
     padding-left: 2px;
     flex-basis: 150px;
}
 #header[data-section-setting-color-scheme-id="lightPrimary"] nav.header-nav-list .header-dropdown-wrapper a {
     color: var(--navy)!important;
}
 #header .header-nav-item.dropdown[data-dropdown-type="mega"] .header-dropdown-wrapper .dropdown-columns-wrapper .dropdown-column .dropdown-item-level1 a {
     display: block;
     padding: 0px;
     padding-bottom: 2px;
     padding-top: 2px;
     font-weight: bolder;
}
 #header .header-nav-item.dropdown[data-dropdown-type="mega"] .header-dropdown-wrapper .dropdown-columns-wrapper .dropdown-column .dropdown-item-level2 a {
     display: block;
     padding: 0px;
     padding-top: 10px;
     padding-bottom: 10px 
}
 .specs {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 15px 30px 15px 30px;
     border-bottom: solid 1px;
     border-color: #E8E8EA;
     box-sizing: border-box;
     justify-content: space-between;
     background: white;
     height: 80px;
}
 h6 {
     font-size: 1.1rem;
     padding-bottom: 0px;
     font-weight: 700;
     font-family: var(--brand-font)
     color: var(--navy);
     margin-bottom: 0px;
}

/* Create three equal columns that floats next to each other */
 .column-sawr {
     float: left;
     width: 33.33%;
     vertical-align: middle;
     box-sizing: border-box;
     line-height: 7;
     text-align: -webkit-center;
}
/* Clear floats after the columns */
 .row-sawr:after {
     content: "";
     display: table;
     clear: both;
}
 .section-wrapper[data-section-key="collection"] .collection-vertical-wrapper {
     width: 20%;
}
 .price-before-sale {
     padding-left: 5px;
     font-size: 75%;
}
 .slideshow-thumbnail-navigation {
     padding-left: 20px;
     padding-top: 10px;
}
 .slideshow-block .slideshow-thumbnail-navigation .slideshow-thumbnail-navigation-item.active, .slideshow-block .slideshow-thumbnail-navigation .slideshow-thumbnail-navigation-item:hover {
     border: solid 1px;
     border-color: var(--navy);
     border-radius: 2px;
}
 .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"] .link-underline, .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"] .richtext a, .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"] .richtext-quill a, .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"] .heading-text a {
     text-decoration: underline;
     background-image: none;
}
 .cart-block .cart-container {
     position: absolute;
     width: 100%;
     max-width: 550px;
     height: 95%;
     margin: 20px;
     padding: 0 0 20px 20px;
     background-color: #fff;
     box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
     transition: transform 350ms cubic-bezier(.4,0,.2,1);
     border-radius: 10px;
     transform: translateX(100%);
}
 .cart-block[data-switch-to-color-scheme-id="whitePrimary"] .cart-checkout-button {
     background-color: var(--navy);
     border-color: var(--navy);
     color: #FFFFFF;
     padding: 20px;
}
 .cart-block .cart-items-wrapper {
     overflow: hidden;
}
 .quantity-input-block {
     padding-top: 0px;
     margin-right: 0px;
     margin-left: 10px;
}
 .cart-block .cart-item-remove {
     text-decoration: none;
     visibility: hidden;
     font-size: none;
}
 .cart-block .cart-item-remove:hover:after {
     opacity: 1;
     transition: 0.2s;
     background: #FFD7DE;
     border: 2px solid;
     border-color: #FFAFBE!important;
     transform: rotate(90deg);
}
 .cart-item-remove:before {
     visibility: hidden;
}
 .cart-item-remove:after {
     content: '✕';
     visibility: visible;
     cursor: pointer!important;
     padding: 4px 8px 4px 8px;
     background-color: #fff;
     color: var(--navy);
     border-radius: 50px;
     transition: 0.2s;
     font-weight: 500;
     border: 2px solid var(--navy);
     font-size: 15px;
     opacity: 0.4;
}
 .cart-item-remove:hover:before {
     background-color: red;
     transition: 0.2s;
}
 .cart-block .cart-item-remove:hover:after {
     transition: 0.2s;
}
 .cart-item-price {
     padding-bottom: 10px;
     opacity: 0.6;
}
 .cart-block .cart-footer {
}
 .cart-block .cart-item-title {
     font-size: 14px;
     width: 100%;
     font-weight: 600;
     margin-right: 50px;
}
 .cart-item-price {
     font-weight: 400;
}
 .cart-block .cart-item-column-image {
     flex-shrink: 0;
     width: 130px;
     margin-right: 20px;
}
 #header .header-nav-wrapper .header-nav-item-level0 > a.active {
     background-size: 0px;
}
 .cart-header::before {
     content: url('https://api.iconify.design/ri/shopping-basket-line.svg?width=30&height=30');
}
 .cart-block .cart-header {
     display: inline-flex;
     padding: 18px 0px 16px;
     color: var(--navy);
}
 .cart-header-title {
     align-self: center;
     padding-left: 10px;
}
 @media (max-width: 992px) {
     .product-details-wrapper {
         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
         margin-left: 0px;
         margin-top: 10px;
         border-radius: 10px;
         background-color: #FFF;
         transition: 0.3s;
    }
}
 @media (max-width: 992px) {
     .row {
         margin: 5px;
         margin-top: 25px;
    }
}
 .cart-block .cart-item {
     border-bottom: 1px solid #D2D1D5;
}
 .cart-block .cart-button-wrapper {
     border-top: 1px solid #D2D1D5;
}
 .cart-block .cart-total-value {
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     color: var(--navy);
}
 .cart-block .cart-item-column-details {
     flex-grow: 1;
     margin-right: 10px;
     display: contents;
     vertical-align: top;
}
 .cart-block .cart-item-details-footer {
     display: inline-grid;
     justify-items: end;
     align-items: stretch;
     justify-content: end;
}
 .cart-block .cart-item-prices-wrapper {
     line-height: 0;
     margin-left: 25px;
     margin-right: 0px;
}
 .cart-item-quantity {
     display: none;
}
 #header[data-section-setting-color-scheme-id="lightPrimary"] nav.header-nav-list .header-nav-item-level0 > a.active {
             background-image: linear-gradient(to right,transparent 100%,transparent 0)!important;
}
 header .header-nav-wrapper .header-nav-item-level0 > a.active {
     background-repeat: repeat-x;
     background-size: 0px 0px;
     background-position: 0 calc(100% - 0.1em);
}
 .font-section-product-name {
     font-family: var(--brand-font)
}
 h2 {
     font-weight: 700!important;
     color: var--(navy)!important;
     line-height: 1.1em;
     letter-spacing: 0em;
}
 button.btn-primary {
     background: var(--blue)!important;
     border: var(--blue)!important;
     transition: 0.2s;
border-radius: 15px!important;
}
 button.btn-primary:hover {
     opacity: 0.7;
     transition: 0.2s;
     box-shadow: 0px 10px 30px 0px rgba(69, 143, 229, 0.4);
}
 a.btn-primary {
     background: var(--blue)!important;
     border: var(--blue)!important;
     transition: 0.2s;
border-radius: 15px!important;
     color:white;
}
 a.btn-primary:hover {
     opacity: 0.7;
     transition: 0.2s;
     box-shadow: 0px 10px 30px 0px rgba(69, 143, 229, 0.4);
     color: white!important;
}
 .pricing-plan-name {
     color: var(--navy)!important;
}
/* NEW KNAPP START */
 li:nth-child(19) :after {
     content: 'NEW!';
     margin-left: 5px;
     padding: 5px;
     padding-left: 8px;
     padding-right: 8px;
     font-size: 12px;
     color: var(--success-dark-green);
     font-weight: 700!important;
     background-color: var(--success-green);
     border-radius: 10px;
     text-decoration: none!important;
}

 li:nth-child(20) :after {
     content: 'NEW!';
     margin-left: 5px;
     padding: 5px;
     padding-left: 8px;
     padding-right: 8px;
     font-size: 12px;
     color: var(--success-dark-green);
     font-weight: 700!important;
     background-color: var(--success-green);
     border-radius: 10px;
     text-decoration: none!important;
}

 li:nth-child(27) :after {
     content: 'NEW!';
     margin-left: 5px;
     padding: 5px;
     padding-left: 8px;
     padding-right: 8px;
     font-size: 12px;
     color: var(--success-dark-green);
     font-weight: 700!important;
     background-color: var(--success-green);
     border-radius: 10px;
     text-decoration: none!important;
}

/* NEW KNAPP END */
 .section-wrapper[data-section-setting-color-scheme-id="whitePrimary"] .custom-style-color-image-overlay-text {
     color: #FFFFFF;
     background-color: var(--navy)!important;
     padding: 10px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 10px;
     font-weight: 600;
}

*/ BO2 CODE VAR HER */

 #mapImage {
     height: 500px;
}

 .section-wrapper[data-section-key=gallery][data-section-setting-caption-type=overlay] .gallery-wrapper .gallery-item-wrapper .gallery-item-caption-wrapper-outer .gallery-item-caption-text {
     color: white!important;
     text-shadow: none;
     padding: 20px;
     background-color: var(--navy);
     width: 100%;
     border-radius: 10px;
}
 .gallery-item-wrapper {
}
 .section-wrapper[data-section-key=gallery][data-section-setting-gallery-type=simple] .gallery-wrapper .gallery-item-wrapper .gallery-item-contents img {
     border-radius: 10px;
}
 .gallery-item-wrapper {
     background: white;
     border-radius: 10px;
}
 .gallery-item-wrapper:hover, .gallery-item-link:hover {
     background: rgba(255, 233, 39, 0.4);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     border-radius: 10px;
     transition: 0.3s;
}
 #notification {
     display: none;
     position: fixed;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     padding: 10px;
     background-color: #29853D!important;
     color: #fff;
     border-radius: 10px;
     z-index: 9999;
}
 #notification.show {
     display: block;
     animation: fadeOut 3s ease forwards;
}
 @keyframes fadeOut {
     0% {
         opacity: 1;
    }
     90% {
         opacity: 1;
    }
     100% {
         opacity: 0;
         display: none;
    }
}
    /* Hide the scrollbar track */
     ::-webkit-scrollbar-track {
         background-color: transparent;
    }
     ::-moz-scrollbar-track {
         background-color: transparent;
    }
     scrollbar-track-color: transparent;
    /* Hide the scrollbar thumb */
     ::-webkit-scrollbar-thumb {
         background-color: #ccc;
         border-radius: 20px;
         border: none;
    }
     ::-moz-scrollbar-thumb {
         background-color: white;
         border-radius: 10px;
         border: none;
    }
     scrollbar-color: #ccc transparent;
    /* Show the scrollbar on hover */
     ::-webkit-scrollbar-thumb:hover {
         background-color: #aaa;
    }
     ::-moz-scrollbar-thumb:hover {
         background-color: #aaa;
    }
    /* Hide the scrollbar buttons (up/down arrows) */
     ::-webkit-scrollbar-button {
         display: none;
    }
     ::-moz-scrollbar-button {
         display: none;
    }
    /* For Windows devices */
     ::-webkit-scrollbar {
         width: 8px;
         height: 8px;
    }
     ::-moz-scrollbar {
         width: 8px;
         height: 8px;
    }
     body {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100vw;
         height: 100vh;
    }

#header[data-section-setting-color-scheme-id="lightPrimary"] nav.header-nav-list .header-nav-item-level0 > a.active {
        background-image: linear-gradient(to right,transparent 100%,transparent 0)!important;
}

.product-list-block .grid-block .grid-list .grid-item {
    opacity: 1!important;
    transform: translatey(0px)!important;
    transition: opacity 0s ease,transform 0s ease!important;
}
  .grayed-out {
    opacity: 0.5; /* Adjust the opacity value as needed */
  }

.section-wrapper[data-section-key=product] .media-wrapper-outer .single-product-image-wrapper img.single-product-image {
    position: absolute;
   top: 0;
   left: 0;
   margin-left: auto; 
   margin-right: auto;
    right: 0; */
    width: 100%;
    height: 100%;
}

.media-and-details-wrapper-outer {
display: none;
}

.section-wrapper[data-section-key=product][data-section-setting-number-of-columns="2"] .product-details-wrapper {
display: none!important;
height: 0;
}

.media-wrapper-outer {
display: none!important;
height: 0;
}

.media-and-details-wrapper-outer {
display: none;
height: 0;
}

.description-guide {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--navy)!important;
}

.title-guide {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--navy)!important;
}

.file-wrapper {
  display: flex;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.4s;
  outline: 2px solid var(--transparent);
}

.file-wrapper:hover {
  outline: 2px solid var(--darkblue);
    box-shadow: 0px 17.6661px 35.3322px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  background-color: #dae9fa;
}

.icon-ani {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  background-color: var(--blue);
  height: 60px;
  width: 60px;
  margin-right: 30px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: var(--darkblue);
  width: 25vw;
}

.format,
.size {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #808080;
  width: 10vw;
}

a {
  text-decoration: none;
}

#searchInput {
  padding: 25px 30px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  width: 40vw;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #808080;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--darkblue);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 17.6661px 35.3322px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
  color: var(--darkblue);
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content a {
  display: block;
  border-radius: 10px;
  min-width: 200px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  color: #808080;
  padding: 20px;
  text-decoration: none;
  color: var(--darkblue);
}

.dropdown-content a:hover {
  color: var(--blue);
  background-color: #f5f5f6;
  box-sizing: border-box;
}
    .dropdown-content a:focus {
     background-color: #dae9fa;
     box-sizing: border-box;
     text-decoration: none;
     opacity: 1!important;
     border-color: var(--darkblue);
}

.search-welcome {
  display: flex;
  flex-direction: column;
}

.welcome-text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #458FE5;
}

.welcome-name {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
  color: #1C172C;
}

.heading-name {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #1C172C;
}

.search-welcome-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

.cta-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #1C172C;
    text-decoration: none;
}

.cta-heading.info {
    display: flex;
    align-items: center;
    gap: 5px;
    min-height: 25px;
    text-decoration: none;
}


.cta-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  text-decoration: none;
}

.cta-text {
    gap: 10px;
    display: flex;
    text-decoration: none;
}

.cta-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    text-decoration: none;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    text-decoration: none;
}

.cta-box.blue {
  background-color: var(--blue);
  outline: 2px solid transparent;
  transition: 0.4s;
  text-decoration: none;
}

.cta-box.ad {
  height: 40vh;
  background-color: var(--red);
      object-fit: contain;
    overflow: hidden;
    transition: 0.4s;
  outline: 2px solid transparent;
      text-decoration: none;
}

.cta-box.ad:hover, .cta-box.blue:hover {
  outline: 2px solid var(--darkblue);
  box-shadow: 0px 17.6661px 35.3322px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  text-decoration: none;
}

.cta-heading.ad:hover {
  text-decoration: none;
}

.cta-heading.ad a:hover {
  text-decoration: none;
}

.cta-heading.ad {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: white;
  text-decoration: none;
}
.cta-heading.ad {
  text-decoration: none;
}

.cta-heading.ad img {
    object-fit: contain;
    overflow: hidden;
    scale: 1.7;
    margin-left: 100px;
    margin-top: 50px;
}

.container-list-wrapper {
  display: flex;
  gap: 40px;
  min-height: 100vh;
}

.container-list {
  width: 55vw;
}

.cta-grid-right {
}

.cta-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100vw;
}

.cta-icon-box {
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    padding: 10px;
    border-radius: 40px;
    display: inline-grid;
}

.contact-text {
    font-size: 20px;
    font-weight: 600;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.twitter-icon {
  color: var(--blue);
  transition: 0.4s;
}

.twitter-icon:hover {
color: var(--darkblue);
transition: 0.4s;
}

.cta-heading.ad a:hover {
  text-decoration: none;
}



/* 1024 px */

@media only screen and (max-width: 1024px) {
   
    .container-list-wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .format {
        display: none;
    }

    .size {
        display: none;
    }

    .cta-wrapper {
    flex-direction: column;
    width: 90vw;
    }

    .cta-grid-right {
    width: 100%;
    }

    .fileWrappers {
        width: 90vw;
    }

    .search-welcome-wrapper {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    }

    .container-list {
    width: 90vw;
    }

    .name {
    width: 45vw;
    }

    #searchInput {
        width: 90vw;
    }

    .welcome-name {
        font-size: 42px;
        line-height: 60px;
        margin-bottom: 5px;
    }

    .welcome-text {
        font-size: 18px;
        line-height: 20px;
    }

    .dropdown-content {
        right: 0px;
    }

    .cta-box {
        padding: 30px;
    }
}

.caption-text {
display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px!important;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    gap: 5px;
}

.caption-text p {
font-size: 100px!important;
    text-align: center;
    font-weight: 700;
    line-height: 120px;
    width: 100%;
}
.colored {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #fffcae 50%);
}

@media (max-width: 1024px) {
.caption-text p {
    font-size: 60px!important;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    width: 80%;
}
}
.animated-text {
    background: linear-gradient(90deg, #0079FF, #FF2970, #0079FF);
    background-size: 500% 500%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: textGradientAnimation 10s ease infinite;
}

@keyframes textGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    .box {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--red);
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.5s;
      max-height: 500px;
      width: 100vw;
      margin: 10px;
      contain: paint;
          outline: 2px solid transparent;
      transition: 0.5s;
    }

    .box.yellow {
      background-color: var(--yellow);
    }

    .box.red {
      background-color: var(--red);
    }

    .box.green {
      background-color: var(--green);
    }

    .box.blue {
      background-color: var(--blue);
    }

    .box-heading {
      color: white;
      margin-bottom: 10px;
      font-size: 40px;
      padding: 20px;
    font-weight: 600;
    }

    a {
      text-decoration: none !important;
      color: none !important;
    }
    
    .box:hover {
      outline: 2px solid var(--navy);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      transition: 0.5s;
    }

    .box:active {
      background-color: #3064A0;
    }

    .box-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      contain: paint;
    }

    .box-image {
      flex-shrink: 0;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      left: 200px;
      bottom: 10px;
      transform-origin: bottom right;
      position: relative;
    }

    .box-image.assets {
      flex-shrink: 0;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      transition: transform 0.5s ease;
      left: 300px;
      bottom: 450px;
      transform-origin: bottom right;
      position: relative;
    }

    .box:hover .box-image {
      transform: scale(1.1);
    }

        .box.grayed-out {
      filter: grayscale(100%);
      opacity: 0.4;
    }

    .box.active {
      filter: grayscale(0%);
      opacity: 1;
    }

.box:hover ~ .box:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: opacity 0.5s;
}

.box:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: opacity 0.5s;
}


    .box-text {
      color: white;
      font-size: 16px;
      margin-top: auto;
    }

    .box-row {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    @media only screen and (max-width: 1600px) {
      .box-image {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 210px;
        bottom: -19px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.1;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 324px;
        bottom: 236px;
        transform-origin: bottom right;
        position: relative;
      }
    }

    @media only screen and (max-width: 1200px) {
      .box-image {
        flex-shrink: 0;
        width: 500px;
        min-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 170px;
        bottom: -90px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.4;
      }

      .box-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        contain: initial;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 344px;
        bottom: -61px;
        transform-origin: bottom right;
        position: relative;
      }
    }

    @media only screen and (max-width: 767px) {
      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 278px;
        bottom: -42px;
        transform-origin: bottom right;
        position: relative;
      }

      .box-image {
        flex-shrink: 0;
        width: 500px;
        min-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 140px;
        bottom: -97px;
        transform-origin: bottom right;
        position: relative;
        scale: 1.4;
      }
    }

    @media only screen and (max-width: 766px) {
      .box-row {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }

      .box {
        display: inline-flex;
        flex-direction: column;
        background-color: #FF385C;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.5s;
        max-height: 500px;
        width: 90vw;
        margin: 10px;
        contain: paint;
        outline: 2px solid transparent;
      }

      .box-image.assets {
        flex-shrink: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        left: 330px;
        bottom: -190px;
        transform-origin: bottom right;
        position: relative;
        scale: 2;
      }
    }